#banner {
    border-bottom: none;
    margin-top: -20px;
    background-image: url("../assets/images/buildings-bg.jpg");
    background-position: 50% 100%;
    background-size: cover;
    padding: 50px 15px;
    z-index: 10;
    position: relative;
}
.hero-unit {
    position: relative;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}
.angular-google-map, .angular-google-map, .angular-google-map-container {
    height: 100%;
}

.googlemapsContainer {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.homepageContent {
}
.postit-positive {
    box-shadow: 0 0 10px green inset;
}
.vote-arrow.active {
    font-size: 16px;
    &.positive {
        color: green;
    }
    &.negative {
        color: red;
    }
}
.vote-column {
    text-align: center;
    p {
        margin: 0;
    }
}
